<a href="https://colab.research.google.com/github/naghma28/linear-regression-model/blob/main/ExperienceSalaryLinearModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Simple Linear Regression Modelling**

Linear Regression is one of the most popular statistical method that is used for predictive analysis. It shows linear relatioship between a dependent (y) varaible and one or more independent (y) variables.

y = b0 + b1x + Îµ
y = dependent variable

x = independent variable

b0 = degree of freedom

b1 = linear regression coefficient

In Simple Linear Regression, the regression algorithm models the relationship between dependent variable and single independent variable.

## **Problem Statement example for Simple Linear Regression:**

We'll look at a dataset with two variables: salary (the dependent variable) and experience (Independent variable). This problem's objectives are as follows:

We want to see if there is any relationship between these two variables.
The best fit line for the dataset will be found.

How changing the independent variable affects the dependent variable.
In this section, we will build a Simple Linear Regression model to determine which line best represents the relationship between these two variables.

To use Python to create the Simple Linear Regression model in machine learning, follow the steps below:

## **Data pre-processing**

In [1]:
# import libraries
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [2]:
# mount drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
# read file
filepath = "/content/drive/MyDrive/ColabNotebooks/1.0 Python_For_Data_Science/M4 MACHINE LEARNING/4.0 DataSets/Salary_Data.csv"
df = pd.read_csv(filepath)

In [8]:
df.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [9]:
df.head(2)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0

Following that, we must extract the dependent and independent variables from the given dataset. The independent variable is years of experience, and the dependent variable is salary. Here's the code:

In [18]:
x = df.iloc[:,:-1]      # independent variable (yoe)
y = df.iloc[:,1:]       # dependent variable (salary)

Since we have extracted the independent variable (x) and the dependent variable (y), we will divide both variables into training and testing sets. We have 30 observations, so we will use 20 for the training set and 10 for the test set. We are separating our dataset so that we may train our model on one dataset and then test it on another.

### **Splitting the dataset into training and testing set**

In [20]:
# splitting the dataset into training and testing set

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=1/3, random_state=0)

In [25]:
x_train

    YearsExperience
5               2.9
16              5.1
8               3.2
14              4.5
23              8.2
20              6.8
1               1.3
29             10.5
6               3.0
4               2.2
18              5.9
19              6.0
9               3.7
7               3.2
25              9.0
3               2.0
0               1.1
21              7.1
15              4.9
12              4.0

We will not use Feature Scaling for simple linear regression. Now that our dataset is ready for analysis, we will begin creating a Simple Linear Regression model for the stated problem.

## **Fitting the Simple Linear Regression to the Training Set**

Now the next step is to find the best fit line where the difference between the predicted values and actual values in minimum. To accomplish so, we will import the LinearRegression class from the linear model package from scikit learn. After importing the class, we will build a regressor class object.

In [27]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

regressor.fit(x_train,y_train)

LinearRegression()

We used the fit() function to fit our Simple Linear Regression object to the training set. We gave the x train and y train variables to the fit() method, which are our training datasets for the dependent and independent variables. We fitted our regressor object to the training set so that the model may readily learn the correlations between the predictor and target variables.

## **Prediction of Test Set result**

As a result, our model is now prepared to predict the results for the fresh observations. In this stage, we'll give the model a test dataset (new observations) to see if it can predict the intended result.

A prediction vector called y_pred and x_pred, containing predictions for the test dataset and the training set, respectively, will be created.

In [28]:
# prediction of test and training set

x_pred = regressor.predict(x_train)
y_pred = regressor.predict(x_test)

Two variables, y_pred and x_pred, is generated that includes salary projections for the training and test sets, respectively.

**QUICK RECAP:**

Till now, we have previously saved salary in y-variable and year of experience in x- variable, which were further splitted into training data and testing set.

We trained datasets by supplying x_train and y_train values to the model selection train_test_split() method. After successfully training the model, we predicted the testing and training set values, where we passed independent variables (x = year of experience) training and testing data to predict the salary for training and testing set.

## **Visualizing and training set results**